.form-box {
    display: flex;
    flex-direction: column;
    margin: 0px 40px
}

.input-question {
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 3px;
    width: 40%;
    background-color: #fafafa;
}

.answer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-start;
}

.input {
    font-size: 15px;
    margin: 10px 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 3px;
    width: 40%;
    background-color: #fafafa;
}


.answer-alter {
    font-size: 10px;
    display: flex;
    align-items: flex-start;
    margin: 10px 40px;
    color: #e76238;
    border: none;
    background-color: #fafafa;
}

.answer-alter:hover {
    opacity: 70%;
}

.submit {
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    margin: 10px 40px;
    color: #e76238;
    border: none;
    background-color: #fafafa;
}

.submit:hover {
    opacity: 70%;
}