.itens-list {
    
    
    margin-left: 20px;
}

.create-item {
    margin: 10px 40px;
    font-size: 20px;
    color: #d33c5b;
    border: none;
    background-color: #fafafa;
}

.create-item:hover {
    opacity: 70%;
}